.footer{
    background-color: grey;
    text-align: center;
    color: whitesmoke;
    bottom:0 ;
    position: fixed;
    width: 100%;
    line-height: 3;
}
#AI_video{
    background-color: yellow;
    text-align: top;
    margin-top: 0;
}
#Start,#Status,#number_object_detected{
    font-size: 18px;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white ;

}
body{
    background-size: cover;
}